/* Général */

body {
    color: #777;
    font-family: 'futura-pt',sans-serif;
    background-color: #FFFBF9;
}

a {
    color: #777;
}

a:hover {
    color: #777;
}

a:hover{
    text-decoration: none;
}

.form-control{
    border-color:#D1CAC5;  
}

.form-control:focus{
    border-color:#777;  
    box-shadow: none;
}

.container.body {
    margin-bottom: 40px;
}



/* Menu */
/* Logo */

.fa.fa-bars {
    display: none;
}
.fa.fa-times {
    display: none;
}

.navbar-default {
    background-color: #ffffff;
    border-color:#F5EDE6 ;
}

.navbar-default .navbar-brand{
    color: #66EB9A/*#D1CAC5*/;
    font-weight: bold;
}
.navbar-default .navbar-brand:hover{
    color: #66EB9A/*#D1CAC5*/;
}

.navbar > .container .navbar-brand{
    margin-left: 23px;
    text-transform: uppercase;
    
}

li.list-nav-front {
    text-transform: uppercase;
}

li.log {
    margin-right: 26px;
}

li.link-home {
    margin-left: 374Px;
}

p.total-products {
    float: right;
    margin-right: 40px;
    color: #777777;
}

/* Image produit */

.thumbnail {
    border: none;
    background-color: #FFFBF9;
}

.thumbnail > img, .thumbnail a > img {
    width: 317px;
    height: 455px;
    object-fit: cover;
    
}

.caption h3 a {
    color: #777;
}

.caption h3 {
    font-size: 21px;
    font-weight: 400;
    margin-top: 5px;
}

.caption p {
    margin-top: -9px;
    
}

.caption p a {
    color: #777;
    
}
/* Pagination */

.pagination{
    float: right; 
    margin-right: 22px;
    
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus{
    background-color: #D1CAC5;
    border-color: #D1CAC5;
}

.pagination > li > a, .pagination > li > span{
    color: #D1CAC5; 
}

.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus{
    color: #ffffff;
    background-color: #D1CAC5;
}

.pagination > .disabled > span{
    color: #D1CAC5
    ;
}

/* Footer */
.footer .row{
    margin-right: -48px;
    margin-left: 37px;
}

.footer {
    background-color: #ffffff;
}

.footer h4 {
    color: #777;
}
.footer ul {
    margin-left: -39px;
}
.footer li {
    list-style-type: none;
    color: #666666;
}

.footer li a {
    color: #CCC5C0;
    font-size: 13px;
}

i.fa.fa-facebook-square{
    font-size: 22px;
    margin-right: 9px;
}

i.fa.fa-instagram {
    font-size: 22px;
}

/* Page produit */

.show-product-mobile{
    display: none;
}

.col-xs-12.col-sm-6.col-md-8.col-image {
    margin-left: 23px;
    width: 50%;
}

a.btn.btn-default.buy-product {
    margin-top: 14px;
    padding: 8px 59px;
    text-transform: uppercase;
}

select#size{
    width: 70%;
}


/* Dashboard */

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #ffffff;
}

.table > tbody > tr > td {
    border-color:#F5EDE6;
}

.table > thead > tr > th {
    border-bottom: 2px solid #F5EDE6;
}

span.glyphicon.glyphicon-edit {
    background: #F5EDE6;
    padding: 13px;
    border-radius: 26px;
}

input.btn.btn-primary.btn-lg.delete-button{
    background: #F5EDE6;
    border-color: #F5EDE6;
    padding: 7px 13px;
    border-radius: 23px;
    color: #777777;
}



button.btn.btn-primary.btn-lg{
    color: #fff;
    background-color: #D1CAC5;
    border-color: #D1CAC5;
    padding: 11px 48px;
    font-size: 16px;
    text-transform: uppercase;
}

button.btn.btn-primary.delete-ok{
    background-color: #D1CAC5;
    border-color: #D1CAC5;
}

input.btn.btn-danger.delete-button{
    background: #F5EDE6;
    border-color: #F5EDE6;
    padding: 7px 13px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 23px;
    color: #777777;
}

/** Partie Administration edit/create **/

ul.nav.navbar-nav {
    text-transform: uppercase;
}

.container.form-edit{
    margin-bottom: 40px;
}
.row.form-edit {
    background-color: #fff;
    border-radius: 22px;
    padding: 32px;
}

.col-md-6.form-part-2 {
    margin-top: 67px;
}

label.title {
    font-size: 16px;
    font-weight: 600;
}

.col-md-6.form-part-2 h5{
    font-size: 16px;
    font-weight: 600;
}

.col-md-6.form-part-2 .input-file{
    margin-top: 20px;
}
.col-md-6.form-part-2 .input-radio{
    margin-top: 20px;
}

.col-md-6.form-part-2  .form-group.img-old {
    margin-top: 20px;
}

.col-md-6.form-part-2 input[type="checkbox"]{
    margin:0; 
}

.col-md-6.form-part-2 .form-control.checkbox-form-edit{
    height: 15px;
    margin-right: 10px;
}


.btn-primary.form-edit {
    color: #fff;
    background-color: #D1CAC5;
    border-color: #D1CAC5;
    padding: 11px 78px;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    margin: auto;
}

.col-md-6.form-part-2 .input-radio.new-product{
    margin-top: 40px;
}

button.btn.btn-primary.button-ok{
    color: #fff;
    background-color: #D1CAC5;
    border-color: #D1CAC5;
    padding: 11px 78px;
    font-size: 16px;
    text-transform: uppercase;
}

/** CRUD category / create */

.col-md-6.create-category {
    background-color: #ffffff;
    padding: 23Px 46px 41px 46px;
}

/* Page login **/ 

.panel-default{
    border-color: #D1CAC5;
}
.panel-default > .panel-heading {
    color: #777;
    background-color: #fff;
    border-color: #D1CAC5;
}

.btn-primary{
    background-color: #D1CAC5;
    border-color: #D1CAC5;
}
.btn-primary:hover{
    background-color: #D1CAC5;
    border-color: #D1CAC5;

}

.btn-link{
    color: #D1CAC5;
}

.btn-link:hover{
    color: #D1CAC5;
}


/** Responsive */
@media(max-width:760px){
    .fa.fa-bars {
        display: block;
        margin-top: 17px;
        float: right;
        margin-right: 97px;
    } 

    i.fa.fa-times {
        margin-top: 17px;
        float: right;
        margin-right: 97px;
    }

    li.link-home {
        margin-left: 0Px;
    }

    .show-product-destop {
        display: none;
    }

    .show-product-mobile{
        display: block;
    }

    .caption p a {
        font-size: 11px;
    }
    .caption h3 a {
        font-size: 10Px;
    }

    

}
@media(max-width:500px){
    .nav{
        width: 100%;
    }

    

    .thumbnail > img, .thumbnail a > img {
        width: 134px;
        height: 179px;
        object-fit: cover;
    }
    .col-xs-12.col-sm-6.col-md-8.col-image {
        margin-left: 19px;
        width: 86%;
    }
    .col-xs-6.col-md-4.col-infos {
        margin-left: 19px;
        width: 100%;
    }

    .container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }

    li.link-home {
        margin-left: 0px;
    }
}



